body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a{
    color: white;
    text-decoration: none;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    border: 5px solid blue;
}
